.nav-brand {
    font-size: 175%;
    padding: 25px 0px;
}

.wallpaper-content {
    text-align: right;
    padding: 30vh 5vw 0vh 30vw;
}

section {
    margin-top: 15px;
    margin-bottom: 0px;
}

h1 {
    font-size: 260%;
}